
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>create flash card</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <h4 >WELCOME <small id="member-name">OSCAR</small> </h4>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
               <li >
                    <a  href="notification.html">
                        <i class="fa fa-envelope fa-fw"></i> <i class="badge">0</i>
                    </a>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="view-profile.html"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="change-password.html"><i class="fa fa-gear fa-fw"></i>change password</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

               <div class="navbar-default sidebar " role="navigation">
                     <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       
                        <li>
                            <a href="dashboard.html"><i class="fa fa-home "></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Profile<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                     <a href="view-profile.html"><i class="fa fa-folder-open"></i> view profile</a>
                                </li>
                                <li>
                                    <a href="edit-profile.html" active><i class="fa  fa-gears "></i> Edit profile</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pencil fa-fw"></i> Tutor<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                     <a href="get-tutor.html"><i class="fa fa-child   "></i> student history</a>
                                </li>
                                <li>
                                     <a href="get-tutor.html"><i class="fa fa-bullhorn   "></i> tutor requests</a>
                                </li>
                            </ul>
                        </li>
                          <li>
                            <a href="get-tutor.html"><i class="fa fa-mortar-board   "></i> get tutor</a>
                        </li>
                        <li>
                            <a href="rate-tutor.html"><i class="fa  fa-star   "></i> rate tutor</a>
                         </li>
                         <li>
                            <a href="payment.html"><i class="fa  fa-money   "></i> become a tutor </a>
                        </li>
                        <li>
                            <a href="history.html"><i class="fa  fa-book   "></i> view course history</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Study resources<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="resources.html"><i class="fa  fa-upload   "></i> Upload Resources</a>
                                </li>
                                <li>
                                    <a href="resources.html"><i class="fa  fa-download   "></i> Download resources</a>
                                </li>
                                <li>
                                    <a href="resources.html"><i class="fa  fa-th-list   "></i> My resources</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa  fa-list-alt    "></i> Flash cards <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a   href="create-flashcard.html"> <i class="fa fa-edit  "></i> create flash cards</a>
                                        </li>
                                        <li>
                                            <a href="view-flashcard.html"><i class="fa fa-file-text "></i> view flash cards</a>
                                        </li>
                                        <li>
                                            <a href="my-flashcard.html"><i class="fa fa-folder   "></i> My flash cards </a>
                                        </li>
                                    </ul>
                               
                                </li>
                            </ul>
                           
                        </li>
                            <li>
                            <a href="#"><i class="fa fa-pencil fa-fw"></i> Course advice<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                     <a href="get-tutor.html"><i class="fa fa-child   "></i> student history</a>
                                </li>
                                <li>
                                     <a href="get-tutor.html"><i class="fa fa-bullhorn   "></i> tutor requests</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="payment.html"><i class="fa  fa-money   "></i> payment </a>
                        </li>
                        <li>
                            <a href="request.html"><i class="glyphicon glyphicon-send   "> </i> sent requests</a>
                        </li>
                         <li>
                            <a href="notification.html"><i class="fa fa-envelope   "> </i> notifications</a>
                        </li>
                        <li>
                            <a href="report.html"><i class="fa fa-files-o"></i>report an issue</a>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
  <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Create FlashCard</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>

             <div class="row">
                <div class="col-lg-12">
                    <form >
                      <div class="form-group row">
                          <label for="name" class="col-xs-3 col-lg-2 col-lg-offset-1 col-md-3 col-form-label">institution</label>
                              <div class="col-xs-9 col-lg-8 col-md-9">
                                 <input class="form-control " placeholder="i.e..university of lagos " type="text" name="" id="name" required>
                              </div>
                        </div>
                        <div class="form-group row">
                          <label for="course-title" class="col-xs-3 col-lg-2 col-lg-offset-1 col-md-3 col-form-label">course Title</label>
                              <div class="col-xs-9 col-lg-8 col-md-9">
                                 <input class="form-control " required type="text" name="" id="course-title" placeholder="i.e..fsc103 " required>
                              </div>
                        </div>
                         <div class="form-group row">
                          <label for="course-title" class="col-xs-3 col-lg-2 col-lg-offset-1 col-md-3 col-form-label">course name</label>
                              <div class="col-xs-9 col-lg-8 col-md-9">
                                 <input class="form-control " required type="text" name="" id="course-title" placeholder="i.e..introductory to computer science" required>
                              </div>
                        </div>
                       <div class="form-group row">
                            <label for="level" class="col-xs-3 col-lg-2 col-lg-offset-1 col-md-3 col-form-label">level</label> 
                            <div class="col-xs-9 col-lg-8 col-md-9">
                                <select class="form-control " id="level">
                                    <option>--select level--</option>
                                    <option id="100">100</option>
                                    <option id="200">200</option>
                                    <option id="300">300</option>
                                    <option id="400">400</option>
                                    <option id="500">500</option>
                                </select> 
                            </div> 
                        </div>
                        <div class="form-group row">
                            <label for="exampleTextarea" class="col-xs-3 col-lg-2 col-lg-offset-1 col-md-3 col-form-label">write your memory note
                            </label>
                            <div class="col-xs-9 col-lg-8 col-md-9">
                                 <textarea class="form-control" id="exampleTextarea" placeholder="i.e.. An algorithmn is a precise sequence of instructions for solving a problem   " rows="4" name="description" required></textarea>
                            </div>
                         </div>

                          <button  class="btn  btn-success  col-xs-6 col-xs-offset-4 col-lg-offset-4 col-lg-2 col-md-4 col-md-offset-4 " type="submit">Save Flashcard</button>
                    </form>
                </div>
            </div>        
  </div>
               
</div>
    
 
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
